# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Vim swap viles
*.swp

# Bazel directories
/bazel-*

# Generated protos (except pre-generated ones checked into proto/<pkg>/ dirs)
**/proto/**/*.pb.go
!proto/acl/*.pb.go
!proto/action_cache/*.pb.go
!proto/api/v1/common/*.pb.go
!proto/build_event_stream/*.pb.go
!proto/cache/*.pb.go
!proto/capability/*.pb.go
!proto/command_line/*.pb.go
!proto/context/*.pb.go
!proto/failure_details/*.pb.go
!proto/invocation/*.pb.go
!proto/invocation_policy/*.pb.go
!proto/invocation_status/*.pb.go
!proto/option_filters/*.pb.go
!proto/package_load_metrics/*.pb.go
!proto/remote_execution/*.pb.go
!proto/resource/*.pb.go
!proto/scheduler/*.pb.go
!proto/semver/*.pb.go
!proto/stat_filter/*.pb.go
!proto/strategy_policy/*.pb.go
!proto/target/*.pb.go
!proto/trace/*.pb.go
!proto/user_id/*.pb.go
**/proto/**/*_ts_proto.d.ts
**/proto/**/*_ts_proto.js

# Node dependencies
node_modules

# non-pnpm lock files
package-lock.json
yarn.lock

# Yarn logs
yarn-error.log

# User specific .bazelrc
user.bazelrc

# BuildBuddy certs
buildbuddy-cert.pem
buildbuddy-key.pem

# genhtml coverage outputs
/cover

# User specific config files
enterprise/config/user-configs

# Bazel compact execution log
/bazel_compact_exec_log.binpb.zst

# IntelliJ directory
/.ijwb/

# VSCode settings
.vscode/**

# Python cache
**/__pycache__/**

# Files generated by failed codesearch tests.
# TODO(jdelfino): tests should clean up after themselves
__debug_*

# Claude Code
.claude
CLAUDE.md

# Cursor
.cursor

# GoLand
.idea

